<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplos de express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="images/image.png" alt="" style="width: 20%">
    <h1>Ejemplos</h1>
    <ul>
      <li>
        <a href="/pepito">Render Pepito</a>
      </li>
      <li>
        <a href="/formulario">Formulario</a>
      </li>
      <li>
        <a href="/archivos">Index de archivos</a>
      </li>
      <li>
        <a href="/archivos/leer">Leer datos guardados</a>
      </li>
    </ul>
  </body>
</html>
